@use '../base/variables' as *;

.m-message {
  border-radius: 0.2rem;
  padding: 0.3rem 1rem;
  margin: 1rem auto;
  width: 98%;
  background-color: #eee;
  font-size: 0.9rem;
  color: #fff;
  text-align: center;

  &--loading {
    background-color: $secondary;
  }

  &--error {
    background-color: #eb4949;
  }
}