$primary:#5C9DE0;
$secondary: #5CE075;
$tertiary: #A7E0D9;
$quarter: #5CC7E0;
$dark: #1A1A1A;

$text-main: #222; // main text
$text-title: #000; // titles
$text-muted: #666; // descriptions
$text-link: $primary; 